<h2>Inventario</h2>

<a href="/dashboard">Dashboard</a> |
<a href="/movimiento/entrada">Entrada</a> |
<a href="/movimiento/salida">Salida</a> |
<a href="/historial">Historial</a> |
<a href="/logout">Salir</a>

<table border="1">
<tr>
<th>SKU</th><th>Producto</th><th>Stock</th>
</tr>

{% for i in data %}
<tr {% if i[3] <= i[4] %} style="background:red;" {% endif %}>
<td>{{i[0]}}</td>
<td>{{i[1]}}</td>
<td>{{i[3]}}</td>
</tr>
{% endfor %}
</table>

<h3>Agregar producto</h3>
<form method="post" action="/agregar">
<input name="sku" placeholder="SKU">
<input name="producto" placeholder="Producto">
<input name="ubicacion" placeholder="Ubicación">
<input name="stock" placeholder="Stock">
<input name="minimo" placeholder="Mínimo">
<button>Guardar</button>
</form>